PORT=9001
HOST=0.0.0.0

MONITOR_TOKEN=monitoring-token-332100185

METRICS_INTERVAL_MS=60000
METRICS_STALE_AFTER_MS=120000

HISTORY_RETENTION_HOURS=24

TLS_ENABLED=false
TLS_CERT_PATH=certs/server.crt
TLS_KEY_PATH=certs/server.key

LOG_LEVEL=info
